ENV_DEBUG=false

TG_BOT_TOKEN=
TG_BOT_ALLOWED=

KP_API_TOKEN=
KP_API_URL=https://kinopoiskapiunofficial.tech/api

JACKETT_API_TOKEN=
JACKETT_API_URL=localhost:9117
JACKETT_TRACKERS=all

QBT_HOST=localhost:8080
QBT_USERNAME=admin
QBT_PASSWORD=adminadmin

REDIS_HOST=localhost:6379
REDIS_PASSWORD=

POSTGRES_HOST=localhost:5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=